.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
  border: 3px solid blue;
  border-radius: 8px;
  background-color: rgba(44, 44, 44, 0.1);
  width: 400px;
  height: 400px;
  margin: auto;
}

.bubble {
  width: 40px;
  height: 40px;
  background-color: red;
  border: 4px solid blue;
  border-radius: 50%;
}
.container {
  width: 600px;
  margin: auto;
}

.playBtn {
  position: relative;
  right: 300px;
  width: 150px;
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* .a .b {
  display: inline;
} */
